{% extends "base.html" %}


{% block content %}
<div class="container card" style="display: block;
width: 318px;
height: 319px;
padding: 80px 50px;
background-color: #ff3860;
border-radius: 7px;
margin-left: 21em;
margin-top: 2em;
text-align: center;
line-height: 27px;
cursor: pointer;
position: relative;
color: #fff;
font-weight: 600;
font-size: 20px;
box-shadow: 9px 10px 22px -8px rgb(209 193 209 / 50%);">
  <br>
  <h1 class="title">
    FlashCard App
  </h1>
  <h2 class="subtitle">
    v2
  </h2>

  <h5>Made by Samridh Srivastava</h5>

</div>
<style>
  .card:hover {
        transform: scale(1.05);
    }
</style>
{% endblock %}